.apidata{
cursor: pointer;  
justify-content: space-evenly;
ul{
  width: 70%;
}  
  }
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: var(--primarytheme);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .userinfoul{
    display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      li:first-child{
        align-self: center;
      }
     
    li{
      font-size: 1rem;
      margin-bottom: 1rem;
      img{
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
      }
      span{
        color: var(--filledbtn);
        font-family: nexa-bold;
        padding-right: 1rem;
      }
    }
    li:last-child{
      margin-bottom: 0;
    }

  }

@media only screen and (min-width:768px) { 
.apidata{
  ul{
    width: 90%;
  }
}

.modal-content {
  width: 25%;
}

.userinfoul{
  li{
    font-size: 1.2rem;
  }
}
}