.darktheme {
  --primarytheme: #0D1117;
  --secondarycolor: #161B22;
  --textcolor: #ffffff;
  --pagenation: #6647CD;
  --modalbackground: rgba(206, 200, 200, 0.4);
  /* Black w/ opacity */
}

body {
  background-color: var(--primarytheme);
}

header {
  background-color: var(--secondarycolor);
}

.username {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.username p {
  font-family: nexa-bold;
  text-transform: capitalize;
  white-space: nowrap;
  max-width: 8ch;
  overflow: hidden;
  color: var(--white);
}

.username i {
  padding: 0 1rem 0 0.5rem;
  color: var(--white);
}

.user-menu .user-menu-list {
  position: absolute;
  background-color: var(--primarytheme);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  right: 5%;
  border-radius: 5px;
  height: 0;
  overflow: hidden;
}

.user-menu .user-menu-list li {
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.user-menu .user-menu-list li:hover {
  background-color: var(--filledbtn);
  color: var(--white);
  font-weight: bold;
  border-radius: 5px;
}

.user-menu .theme-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  padding: 2rem 1rem;
}

main h1 {
  margin-top: 2rem;
}

.searchbar {
  width: 100%;
}

.searchbar input {
  border: 1px solid var(--darkgrey);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  margin-bottom: 0;
}

.header-search {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-left: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.apidatacontainer {
  width: 100%;
}

.apidataul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.apidata {
  border: 1px solid var(--grey);
  margin: 0.5rem 0;
  padding: 1rem;
  padding-bottom: 0;
  width: 98%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}

.apidata figure {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.apidata figure img {
  border-radius: 50%;
}

.apidata ul {
  width: 90%;
}

.apidata ul li {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.apidata li::-webkit-scrollbar {
  display: none;
}

.apidata li {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.apidata span {
  color: var(--filledbtn);
  font-family: nexa-bold;
  padding-right: 1rem;
}

.pagenationContainer ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pageIndexLink {
  margin-right: 0.625rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid var(--textcolor);
  color: var(--textcolor);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.pageIndexLink:hover,
.page-active {
  color: var(--white);
  background-color: var(--pagenation);
}

@media only screen and (min-width: 1024px) {
  nav {
    padding: 1rem 4rem;
  }
  .header-left {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-search {
    width: 80%;
  }
  .main-search {
    display: none;
  }
  .header-search {
    display: block;
  }
  .user-menu .user-menu-list li {
    font-size: 1.2rem;
  }
  .apidata {
    width: 48%;
    height: 100%;
    margin: 0.5rem;
  }
  .apidata li {
    font-size: 1.2rem;
  }
  .apidataul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 4rem;
  }
  main h1 {
    margin-top: 0;
  }
}
/*# sourceMappingURL=index.css.map */